<div class="container mt-5">
  <section class="my-3">
    <div class="row text-center m-2 justify-content-center">
      <div class="col">
        <h4>Menus (mat-select)</h4>
      </div>
      <div class="col offset-md-6">
        <a
          target="_blank"
          matTooltip="Edit on Stackblitz"
          matTooltipPosition="above"
          href="https://stackblitz.com/edit/jj-menus"
          ><mat-icon svgIcon="electric_bolt">electric_bolt</mat-icon></a
        >
      </div>
    </div>
    <mat-divider></mat-divider>
  </section>
  <mat-form-field appearance="outline">
    <mat-label>Choose an option</mat-label>
    <mat-select [disabled]="disableSelect.value">
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
